TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
RAGFLOW_BASE_URL=http://localhost
RAGFLOW_CHAT_ID=a073e95e618b11f1baa461b200eea40c
RAGFLOW_API_KEY=ragflow-cv2bbsTidWf1qEUCC93K4Ce8JqFoWxGACqmsT_56ScU
RAGFLOW_MODEL=gpt-oss:20b

OLLAMA_REFINE_ENABLED=true
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_REFINE_MODEL=gpt-oss:20b